* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffdab9;
}

.menu {
	width: 100%;
	background: #696969;
	display: table;
	position: relative;
}

.menu > li {
	display: block;
	float: left;
	list-style: none;
	
}

.menu > li > a {
	text-decoration: none;
	display: block;
	padding: 15px 25px;
	line-height: 30px;
	text-transform: uppercase;
	color: #ffffff;
	font-family:sans-serif;
} 

.menu > li > a:hover {
	background-color: #e6e6fa;
	color: #ba55d3;
	transition: .3s;
}

.submenu {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}

.submenu li {
	display: block;
	width: 237px;
}

.submenu li a {
	display: block;
 	text-decoration: none;
 	background-color: #e6e6fa; 
 	padding: 15px 0 15px 15px;
 	color: #696969;
	font-family:sans-serif;
	border-left: 2px solid #e6e6fa;
}

.submenu li a:hover {
	border-left: 2px solid #ba55d3;
	background-color: #D3D3D3;
	transition: .3s;
}

.menu > li:hover > a {
	background-color: #e6e6fa;
	color: #ba55d3;
}

.menu > li > a:hover + .submenu, 
.submenu:hover{
	display: block;
	transition: .5s;
}

.menu li:hover > .submenu {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

.submenu1 {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	top: 50px;
	left: 237px;
}

.submenu > li > a:hover + .submenu1, 
.submenu1:hover{
	display: block;
	transition: .5s;
}

.submenu li:hover > .submenu1 {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

@media screen and (max-width: 600px){

	.menu li,
	.menu li a {
		width: 100%;
		float: none;
	}
	
	.submenu, .submenu1 {
		position: relative;
		display: none;
	}
 	
 	.submenu li a {
		padding-left: 25px;
 	}

 	.submenu1 {
 		top:0;
 		left: 0;
 	} 

 	.submenu1 li a {
 		padding-left: 55px;
 	}

}



